@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #000000;
  --darkorange: #d87d4a;
  --justblack: #101010;
  --firstwhite: #f1f1f1;
  --lightorange: #fbaf85;
  --secondwhite: #ffffff;
  --herobackground: #191919;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
